body {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: monospace;
}

.container {
    max-width: 900px;
    display: flex;
    margin: auto;
    gap: 4em;
    place-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    font-size: 1.2em;
}

input {
    margin-top: 10px;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    border: 1px solid #8be9fd;
    font-family: inherit;
}

button {
    color: #282a36;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-family: inherit;
    background-color: #8be9fd;
    border: none;
    cursor: pointer;
}

p {
    font-size: 1.2em;
    margin-top: 40px;
}

p span {
    font-weight: 700;
    color: #ffb86c;
}